/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #FFFEF8;
}

.edition-mode {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
}
.edition-mode--display {
  display: block;
}
.edition-mode__title {
  text-align: center;
  line-height: 59px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.edition-mode__title__icon {
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
}
header h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}
header h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-top: 5px;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header nav ul li {
  padding: 0 10px;
  margin: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}
header nav ul li.selected {
  font-weight: bold;
}
header nav ul li:hover {
  color: #B1663C;
}
header nav ul li a {
  color: inherit;
  text-decoration: none;
}
header nav ul li img {
  height: 20px;
}
header.edition-mode-header {
  margin-top: 100px;
}

section {
  margin: 50px 0;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

.form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  row-gap: 2em;
  flex-direction: column;
}
.form__label {
  margin: 0 0 -1em 0;
}
.form__input, .form__textarea, .form__select {
  height: 50px;
  font-size: 1.2em;
  background: #FFFFFF;
  border: 0;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form__input--hidden, .form__textarea--hidden, .form__select--hidden {
  display: none;
}
.form__submit {
  align-self: center;
}
.form__select__option {
  border: 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: solid 1px #1D6154;
  background-color: white;
  font-family: "Syne";
  font-weight: 700;
  color: #1D6154;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
.button--bg {
  color: #FFFFFF;
  background-color: #1D6154;
}
.button--disabled {
  color: #FFFFFF;
  background-color: #A7A7A7;
  border-color: #A7A7A7;
  cursor: not-allowed;
}

.error {
  color: #990000;
  padding: 10px;
  border: solid 1px #990000;
  display: none;
}
.error--display {
  display: block;
}

#introduction {
  display: flex;
  align-items: center;
  padding: 100px;
  margin: 0;
  gap: 50px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#portfolio h2 .portfolioEdit {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  color: #000000;
  cursor: pointer;
}
#portfolio h2 .portfolioEdit i {
  font-size: 16px;
  margin-right: 10px;
}
#portfolio .categories {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#portfolio .categories__button {
  margin: 0 5px;
  font-size: 16px;
}
#portfolio .categories--hide {
  visibility: hidden;
  margin-bottom: 0;
}
#portfolio .gallery {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#portfolio .gallery img {
  width: 100%;
}

#contact {
  width: 40%;
  margin: auto;
}
#contact > h2, #contact > p {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact textarea {
  height: 200px;
  resize: none;
}

.login {
  width: 100%;
  max-width: 380px;
  margin: 150px auto;
  text-align: center;
}
.login__title {
  margin-bottom: 20px;
}
.login__form {
  margin-bottom: 2em;
}
.login__forgotten-password {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3D3D3D;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-window__inner-block {
  box-sizing: border-box;
  width: 100%;
  max-width: 630px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 25px;
}
.modal-window__inner-block__section {
  display: none;
  margin: 0;
}
.modal-window__inner-block__section__navbar {
  flex-direction: row-reverse;
  margin-top: 0;
  font-size: 24px;
  margin: 0;
}
.modal-window__inner-block__section__navbar i {
  cursor: pointer;
}
.modal-window__inner-block__section__title {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin: 15px 0 30px 0;
}
.modal-window__inner-block__section__content {
  margin: 0 75px;
  text-align: center;
}
.modal-window__inner-block__section__content__break {
  margin: 15px 0;
  border: solid 1px #B3B3B3;
}
.modal-window__inner-block__section__content__button {
  margin: 0 auto 20px auto;
}
.modal-window__inner-block__section--display {
  display: block;
}
.modal-window--display {
  display: flex;
}

.modal-gallery__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px 10px;
}
.modal-gallery__content__error {
  grid-column: 1/span 5;
}
.modal-gallery__content__photo {
  position: relative;
}
.modal-gallery__content__photo img {
  width: 100%;
  object-fit: contain;
}
.modal-gallery__content__photo i {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  line-height: 17px;
  width: 17px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}
.modal-gallery__content__break {
  grid-column: 1/span 5;
}
.modal-gallery__content__button-new {
  grid-column: 2/span 3;
}

.modal-add__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.modal-add__content__form {
  margin-top: 0;
}
.modal-add__content__form__file-input {
  background-color: #E8F1F6;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  cursor: pointer;
}
.modal-add__content__form__file-input__icon {
  color: #B9C5CC;
  font-size: 60px;
}
.modal-add__content__form__file-input__button {
  background-color: #CBD6DC;
  color: #306685;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}
.modal-add__content__form__file-input__format {
  color: #444444;
  font-size: 10px;
}
.modal-add__content__form__file-input__preview {
  height: 200px;
  object-fit: contain;
}
.modal-add__content__form input, .modal-add__content__form select, .modal-add__content__form option {
  font-size: 14px;
  color: #444444;
  padding: 0 10px;
}
.modal-add__content__form__submit {
  margin: 0 auto 20px auto;
}