/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

// Colors
$color-primary: #1D6154;
$color-secondary: #B1663C;

$font-title: 'Syne';
$font-primary: 'Work Sans';

body {
	max-width: 1140px;
	margin:auto;
	font-family: $font-primary;
	font-size: 14px;
	background-color: #FFFEF8;
}

.edition-mode {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background-color: #000000;
    &--display {
        display: block;
    }
    &__title {
        text-align: center;
        line-height: 59px;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        &__icon {
            margin-right: 10px;
        }
    }
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 0 0;
    h1 {
        display: flex;
        flex-direction: column;
        font-family: $font-title;
        font-size: 22px;
        font-weight: 800;
        color: $color-secondary;
        > span {
            font-family: $font-primary;
            font-size:10px;
            letter-spacing: 0.1em;
            margin-top: 5px;
        }
    }
    nav ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
            padding: 0 10px;
            margin: 0 10px;
            font-size: 1.2em;
            cursor: pointer;
            &.selected {
                font-weight: bold;
            }
            &:hover {
                color: $color-secondary;
            }
            a {
                color:inherit;
                text-decoration:none;
            }
            img {
                height: 20px;
            }
        }
    }
    &.edition-mode-header {
        margin-top: 100px;
    }
}

// module section
section {
	margin: 50px 0
}

// module titre
h2{
	font-family: $font-title;
	font-weight: 700;
	font-size: 30px;
	color: $color-primary;
}

// module form
.form {
	text-align: left;
	margin-top:30px;
	display: flex;
    row-gap: 2em;
	flex-direction: column;
    &__label {
        margin: 0 0 -1em 0;
    }
    &__input, &__textarea, &__select {
        height: 50px;
        font-size: 1.2em;
        background: #FFFFFF;
        border: 0;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
        &--hidden {
            display: none;
        }
    }
    &__submit {
        align-self: center;
        //margin: 2em auto;
    }
    &__select {

        &__option {
            border: 0;
        }
    }
}

// module button
.button {
	display: inline-block;
	padding : 10px 20px;
	border: solid 1px $color-primary;
	background-color: white;
	font-family: 'Syne';
	font-weight: 700;
	color: $color-primary;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
    &--bg {
        color: #FFFFFF;
        background-color: $color-primary;
    }
    &--disabled {
        color: #FFFFFF;
        background-color: #A7A7A7;
        border-color: #A7A7A7;
        cursor: not-allowed;
    }
}

// module error
.error {
    color: #990000;
    padding: 10px;
    border: solid 1px #990000;
    display: none;
    &--display {
        display: block;
    }
}

// Section introduction
#introduction {
	display: flex;
	align-items: center;
    padding: 100px;
    margin: 0;
    gap: 50px;
    figure {
        flex: 1
    }
    img {
        display: block;
        margin: auto;
        width: 100%;
    }
    article {
        flex: 1
    }
    h2 {
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 0.5em;
    }
}

// Section portfolio
#portfolio {
    h2 {
        text-align: center;
        margin-bottom: 1em;
        .portfolioEdit {
            margin-left: 30px;
            font-size: 14px;
            font-weight: 400;
            font-family: "Work Sans", sans-serif;
            color: #000000;
            cursor: pointer;
            i {
                font-size: 16px;
                margin-right: 10px;
            }
        }
    }
    .categories {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        &__button {
            margin: 0 5px;
            font-size: 16px;
        }
        &--hide {
            visibility: hidden;
            margin-bottom: 0;
        }
    }
    .gallery {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        img {
            width: 100%;
        }
    }
}

// Section contact
#contact {
	width: 40%;
    margin: auto;
    > h2, > p {
        text-align: center;
    }
    h2 {
        margin-bottom: 20px;
    }
    textarea {
        height: 200px;
        resize: none;
    }
} 

// Section login
.login {
	width: 100%;
	max-width: 380px;
	margin: 150px auto;
	text-align: center;
    &__title {
        margin-bottom: 20px;
    }
    &__form {
        margin-bottom: 2em;
    }
    &__forgotten-password {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #3D3D3D;
    }
}

// Section footer
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

// Aside module Modal window
.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    &__inner-block {
        box-sizing: border-box;
        width: 100%;
        max-width: 630px; 
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 25px;
        &__section {
            display: none;
            margin: 0;
            &__navbar {
                flex-direction: row-reverse;
                margin-top: 0;
                font-size: 24px;
                margin: 0;
                i {
                    cursor: pointer;
                }
            }
            &__title {
                font-family: $font-primary;
                font-size: 24px;
                font-weight: 400;
                color:#000000;
                text-align: center;
                margin: 15px 0 30px 0;
            }
            &__content {
                margin: 0 75px;
                text-align: center;
                &__break {
                    margin: 15px 0;
                    border: solid 1px #B3B3B3;
                }
                &__button {
                    margin: 0 auto 20px auto;
                }
            }
            &--display {
                display: block;
            }
        }
    }
    &--display {        
        display: flex;
    }
}

// Modal gallery (delete)
.modal-gallery {
    &__content {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 25px 10px;
        &__error {
            grid-column: 1 / span 5; 
        }
        &__photo {
            position: relative;
            img {
                width: 100%;
                object-fit: contain;
            }
            i {
                display: block;
                position: absolute;
                top: 5px; right: 5px;
                color: #FFFFFF;
                background: #000000;
                border-radius: 2px;
                line-height: 17px;
                width: 17px;
                font-size: 11px;
                text-align: center;
                cursor: pointer;
            }
        }
        &__break {
            grid-column: 1 / span 5;
        }
        &__button-new {
            grid-column: 2 / span 3;
        }
    }
}

// Modal new (add)
.modal-add {
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &__form {
            margin-top: 0;
            &__file-input {
                background-color: #E8F1F6;
                padding: 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
                text-align: center;
                cursor: pointer;
                &__icon {
                    color: #B9C5CC;
                    font-size: 60px;
                }
                &__button {
                    background-color: #CBD6DC;
                    color: #306685;
                    padding: 10px 30px;
                    border-radius: 50px;
                    font-size: 14px;
                    font-weight: 500;
                }
                &__format {
                    color: #444444;
                    font-size: 10px;
                }
                &__preview {
                    height: 200px;
                    object-fit: contain;
                }
            }
            input, select, option {
                font-size: 14px;
                color: #444444;
                padding: 0 10px;
            }
            &__submit {
                margin: 0 auto 20px auto;
            }
        }
    }
}